<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Confirmation</title>
  </head>
  <style>
    #payment-confirmation {
      display: flex;
      align-items: center;
      justify-items: center;
      height: 100vh;
      margin: auto;
      margin-top: 100px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
  <body>
    <div id="payment-confirmaion">
      <h1>{{message}}</h1>
    </div>
  </body>
</html>